ion-content {
  --background: #ffffff !important; // força fundo branco
  background-color: #ffffff !important;
}


.body {
  height: 100%;
}

.bg-title {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 30px;
  // background-color: aqua;

  .title {
    color: #e4e312;
    font-weight: 600;
    font-family: "Baloo 2", sans-serif;
    font-size: 32px;
  }

  .logo {
    width: 35px;
  }
}

.input-container {
  padding-top: 50px;
  padding: 50px 30px;
  min-height: 320px;
}

.label {
  color: #465efc;
  font-family: "Baloo 2", sans-serif;
}

ion-input {
  background-color: #d9d9d9b2;
  border-radius: 5px;
  font-family: "Baloo 2", sans-serif;
  margin-bottom: 15px;
  --padding-start: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.button-container {
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 10px 40px;
}
