<!-- <ion-header >
  <ion-toolbar>
    <ion-title>Recuperar Conta</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <img src="../../../assets/Rectangle 1.svg" alt="bg color" class="bg-title" />

  <div class="title-container">
    <h1 class="title">Recuperar Conta</h1>
    <img src="../../../assets/traced_image.svg" alt="Logo BB" class="logo" />
  </div>

  <div class="input-container">
    <ion-label class="label" position="floating">Nome</ion-label>
    <ion-input
      class="input"
      type="text"
      placeholder="Digite seu nome"
    ></ion-input>

    <ion-label class="label" position="floating">Email</ion-label>
    <ion-input
      class="input"
      type="email"
      placeholder="Digite seu email"
    ></ion-input>

    <ion-label class="label" position="floating">Código de acesso</ion-label>
    <ion-input class="input" placeholder="Digite o código"></ion-input>
  </div>

  <div class="button-container">
    <ion-button expand="block" shape="round"> Click me </ion-button>
  </div>
</ion-content>
